{% extends "base.html" %}
{% block header %}
    <title xmlns="http://www.w3.org/1999/html">Admin Login</title>
{% endblock %}
{% block body %}
    <h1> Edit Products</h1>
    <form action="#" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label><input type="text" name="name" value="{{ product.name }}"></label><br>
        <label><textarea name="description">{{ product.description }}</textarea></label><br>
        <label><input type="number" name="price" value="{{ product.price }}"></label><br>
        <label><input type="checkbox" name="active" value="1" {{ "checked" if product.active==1 }}>فعال</label><br>
        <input type="submit">
    </form>
{% endblock %}
