<header>
    <section >
            <img src="{{ url_for('static',filename='images/Pis.png') }}" alt="iranian shop">
            <div id="header-menu">
                <span id="header-menu-close-btn" onclick="javascript:change_header_menu(false)">x</span>
                <form action="/" method="get">
                <input type="search" value="{{ search if search is not none }}" name="search" placeholder=" جستجو...">
                </form>
                <a href="/" >صفحه اصلی</a>
                <a href="/user/login" >ورود/ثبت نام</a>
                <a href="/about" >درباره ما</a>
           </div>
        <img src="{{ url_for('static',filename='/theme-image/icon-menu.png') }}" alt="iranian shop" id="header-menu-btn" onclick="javascript:change_header_menu(true)">
    </section>
</header>